.cart-item-container {
  /* border: 1px solid white; */
  display: flex;
  background-color: rgb(27, 32, 41);
  /* max-width: 10rem; */
  border-radius: 2pt;
  overflow: hidden;
  max-height: 10rem;
}

.cart-item-image-container {
  width: 40%;
  /* aspect-ratio: 1; */
  overflow: hidden;
}

.cart-item-image {
  /* width: fit-content; */
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  padding: 1rem;
}

.cart-item-buttons-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
