:root {
  --color-bg: #181a1b;
  --color-bg-trans: #181a1bc5;
  --color-fg: #26292b;
  --color-font: #ccd5d7;
  --color-font-secondary: rgb(144, 151, 156);

  --color-accent: #377df6;
}

:root:has(#light:checked) {
  --color-bg: #d4d7d9;
  --color-bg-trans: #e4e6e7be;
  --color-fg: #e4e6e7;
  --color-font: #283133;
  --color-font-secondary: #626a6f;
  --color-accent: #094fc8;
}

/* Cart Item */

.cart-item-container {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;

  background-color: var(--color-fg);
  border-radius: 3pt;

  width: 100%;

  padding: 0.6rem;

  transition: all 0.2s ease;

  z-index: 9100;
}

.cart-item-col1 {
  /* width: 100%; */
  /* height: 100%; */
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 3pt;
  max-width: 33%;
}

.cart-item-col1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cart-item-col2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.cart-item-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 1rem;
  border: 2px solid var(--color-font);
  overflow: hidden;
  border-radius: 3pt;
}

.cart-item-col3 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  margin-left: auto;

  max-width: 20%;
}

.button-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;

  width: 100%;
  max-width: 12rem;

  border: none;
  cursor: pointer;

  background: none;

  color: var(--color-font);
}

.button-cart :hover {
  color: var(--color-fg);
  background-color: var(--color-font);
}

.button-cart.button-remove {
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  color: var(--color-font);
}

.button-cart.button-remove :hover {
  background: none;
  color: var(--color-accent);
}

.material-symbols-outlined.button-cart-icon {
  font-size: 2rem;
  border-radius: 3pt;
}

/* Cart Menu Button */

.cart-menu-toggle {
  z-index: 900;

  background-color: rgba(0, 0, 0, 0);
  color: var(--color-font);

  border: none;

  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}

.cart-icon-counter {
  position: absolute;
  bottom: -3px;
  right: -5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-font);
  border: 4px solid var(--color-font);
  color: var(--color-fg);
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.4rem;

  width: 1.4rem;
  height: 1.4rem;

  border-radius: 100pt;
}

.material-symbols-outlined.cart-icon {
  font-size: 2.2rem;
}

/* Cart Menu */

.cart-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  right: 0;

  height: 100svh;
  width: 28rem;

  transform: translateX(100%);

  background-color: var(--color-bg-trans);
  backdrop-filter: blur(50px);

  transition: transform 150ms ease-out;
}

.cart-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-fg);

  width: 100%;
}

.cart-menu-header-title {
  padding: 1rem;
}

.cart-menu[data-visible='true'] {
  transform: translateX(0%);
  box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.8);
}

.cart-menu-toggle-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  cursor: pointer;

  background-color: var(--color-font);
  color: var(--color-fg);
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;

  padding: 1rem;

  gap: 1rem;

  margin-top: 1rem;

  height: 100%;

  overflow-y: auto;
}

.cart-display-footer {
  margin-top: auto;
  padding: 1rem;
}

.subtotal-label {
  font-size: 0.8rem;
}

.total-cost-value {
  font-size: 2rem;
  font-weight: 600;
}

button.btn-checkout {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 3pt;
  cursor: pointer;

  background-color: var(--color-font);
  color: var(--color-fg);
}

.material-symbols-outlined.checkout-icon {
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.6rem;
}
