@import url(/css/main.css);

/* ------ Main ------- */

.main-container {
  margin-bottom: 4rem;
  margin-top: auto;
}

/* ---- Hero ---- */

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100svh;
  width: 100%;
}

.hero-content {
  font-size: 2rem;
  max-width: 45ch;
  margin-bottom: 15rem;
}

.hero-content p {
  font-weight: 300;
  font-size: 1.4rem;
}

.hero-bg-container {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.hero-bg-overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--color-bg-trans);

  backdrop-filter: grayscale(100%);
  z-index: 1;
  clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
}

.hero-bg-image-container {
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
}

img.hero-bg-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

video.hero-bg-video {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.hero-anchor-container {
  margin-top: 2rem;
}

div.hero-anchor-container .hero-anchor {
  background-color: var(--color-font);
  color: var(--color-fg);
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  border-radius: 3pt;

  font-size: 1.6rem;
  font-weight: 600;

  text-decoration: none;

  cursor: pointer;
}

a.hero-anchor:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-font);
}

/* ----- Catalog ----- */

.catalog-container {
  display: flex;

  margin-top: 2rem;

  width: 100%;
}

.catalog-title {
  margin-top: 4rem;
  font-size: 2.6rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, auto));
  width: 100%;
  gap: 2rem;
  row-gap: 4rem;
  align-items: start;
  justify-content: space-between;
}


