.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 24rem;
  width: 24rem;
  background-color: rgb(51, 51, 58);

  overflow: hidden;
  border-radius: 1rem;
}

.product-image-container {
  overflow: hidden;
}

.product-image {
  width: 100%;
}

.product-info-container {
  margin-block: 1rem;
}

.button-product {
  padding: 0.6rem;
  width: 10rem;
  border: none;
  margin-block: 1rem;
  border-radius: 50px;
}

.button-add {
  background-color: rgb(58, 109, 204);
  color: white;
  font-weight: 700;
}

.button-remove {
  background-color: rgb(202, 62, 57);
  color: white;
  font-weight: 700;
}
