:root {
  --color-bg: #181a1b;
  --color-bg-trans: #181a1bc5;
  --color-fg: #26292b;
  --color-font: #ccd5d7;
  --color-font-secondary: rgb(144, 151, 156);

  --color-accent: #377df6;
}

:root:has(#light:checked) {
  --color-bg: #d4d7d9;
  --color-bg-trans: #e4e6e7be;
  --color-fg: #e4e6e7;
  --color-font: #283133;
  --color-font-secondary: #626a6f;
  --color-accent: #094fc8;
}

.product {
  display: flex;
  flex-direction: column;
  max-height: 38rem;
  max-width: 24rem;
  background-color: var(--color-fg);

  overflow: hidden;
  border-radius: 3pt;
}

.product-image-container {
  overflow: hidden;
  aspect-ratio: 1/1;
}

.product-image {
  width: 100%;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  width: 100%;
}

.product-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-product {
  padding: 0.6rem;

  width: 100%;
  max-width: 12rem;

  font-size: 0.8rem;
  border: none;
  border-radius: 3pt;
  cursor: pointer;

  background-color: var(--color-font);
  color: var(--color-fg);
  font-weight: 700;
  text-transform: uppercase;
}

.button-product:hover {
  background-color: var(--color-accent);
}

.product-brand {
  font-size: 0.8rem;
  font-weight: 600;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.product-description {
  font-size: 0.9rem;
  font-weight: 300;
}

.product-price {
  font-size: 1.2rem;
  margin-block: 0.6rem;
  font-weight: 200;
}
