@font-face {
  font-family: 'Poppins';
  src: local('Poppins Black'),
    url('/assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins BlackItalic'),
    url('/assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBold'),
    url('/assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBoldItalic'),
    url('/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold'),
    url('/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins BoldIlatic'),
    url('/assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'),
    url('/assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBoldItalic'),
    url('/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'),
    url('/assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins MediumItalic'),
    url('/assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'),
    url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'),
    url('/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light'),
    url('/assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins LightItalic'),
    url('/assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLight'),
    url('/assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLightItalic'),
    url('/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Thin'),
    url('/assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ThinItalic'),
    url('/assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  color-scheme: light dark;
  --menu-transition-speed: 150ms;
  --font-body: 'Poppins', sans-serif;
  --font-title: 'Comfortaa', sans-serif;
  --store-logo-size: 2rem;
  --icon-size: 1.4rem;
}

:root[data-theme='dark'] {
  --color-bg: #0c1821;
  --color-bg-trans: #0c1821d8;
  --color-fg: #1e2836;
  --color-font: #eaefff;
  --color-font-secondary: #ccd5d7;
  --color-accent: #7692ff;
  --color-warning: #ff53a0;
  --color-disabled: #90979c;
  --color-radio: #47be9c;
  color-scheme: dark;
}

:root[data-theme='light'] {
  --color-bg: #eef1f3;
  --color-bg-trans: #e4e6e7be;
  --color-fg: #f7f8f9;
  --color-font: #282e33;
  --color-font-secondary: #626a6f;
  --color-accent: #314cbb;
  --color-warning: #e40066;
  --color-disabled: #9a9ea5;
  --color-radio: #47be9c;
  color-scheme: light;
}

svg {
  stroke-width: 2;
}

div.nav-logo-container svg {
  stroke-width: 0;
}

.menu-vertical[data-visible='true'] {
  transform: translateY(0%);
  transition: transform var(--menu-transition-speed) ease-in;
}

.menu-vertical[data-visible='false'] {
  transform: translateY(-100%);
  transition: transform var(--menu-transition-speed) ease-out;
}

.menu-horizontal[data-visible='true'] {
  transform: translateX(0%);
  transition: transform var(--menu-transition-speed) ease-in;
}

.menu-horizontal[data-visible='false'] {
  transform: translateX(100%);
  transition: transform var(--menu-transition-speed) ease-out;
}

.menu-horizontal-from-left[data-visible='true'] {
  transform: translateX(0%);
  transition: transform var(--menu-transition-speed) ease-in;
}

.menu-horizontal-from-left[data-visible='false'] {
  transform: translateX(-100%);
  transition: transform var(--menu-transition-speed) ease-out;
}

.menu-shadow[data-visible='true'] {
  box-shadow: -5px 0px 20px 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .menu-horizontal-from-left-mobile[data-visible='true'] {
    transform: translateX(0%);
    transition: transform var(--menu-transition-speed) ease-in;
  }

  .menu-horizontal-from-left-mobile[data-visible='false'] {
    transform: translateX(-100%);
    transition: transform var(--menu-transition-speed) ease-out;
  }
}

.hidden,
span.hidden,
div.hidden {
  display: none;
}
