@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-bg-dark: rgb(28, 30, 32);
  --color-font-dark: rgb(228, 236, 241);
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-dark);
  color: var(--color-font-dark);
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style: none;
}

header,
main,
footer {
  padding-inline: 2%;
  margin-inline: auto;
  max-width: 1600px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.6rem;
}

a:hover {
  cursor: pointer;
}

.container {
  /* border: 1px solid white; */
}

/* .header-container {
  z-index: 900;
} */

.searchbar-container {
  display: flex;
}

.searchbar-icon {
  color: rgb(229, 234, 241);
  background-color: rgb(40, 117, 204);
  border: 2px solid rgb(47, 50, 53);
  border-radius: 100pt;

  padding: 0.4rem;

  cursor: pointer;
}

.searchbar-icon.material-symbols-outlined {
  font-size: 1.4rem;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 1rem;

  background-color: rgb(47, 50, 53);
  color: rgb(144, 151, 156);
  border-radius: 100pt;

  width: 22rem;
}

.header-nav-container ul {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-menu-toggle {
  /* position: absolute; */

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 900;

  gap: 0.4rem;

  /* border: 1px solid white; */
  background-color: aliceblue;
  color: rgb(28, 30, 32);
  padding: 0.2rem;
  padding-inline: 0.6rem;
  border-radius: 100pt;

  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}

.cart-icon-counter {
  position: absolute;
  bottom: -0.4rem;
  right: -1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(56, 159, 255);
  color: aliceblue;
  font-weight: 700;
  padding: 0.2rem;

  width: 1.2rem;
  height: 1.2rem;

  border-radius: 100pt;
}

.main-container {
  margin-block: auto;
}

.cart-and-catalog-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.catalog-container {
  background-color: rgba(49, 63, 87, 0.174);
  padding: 1rem;
  border-radius: 8pt;
  width: 80%;
}

.cart-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-menu {
  background-color: rgb(60, 66, 90);
  padding: 1rem;
  border-radius: 8pt;

  position: fixed;

  /* z-index: -1; */

  inset: 0 0 0 60%;

  transform: translateX(100%);

  transition: transform 250ms ease-out;
}

.cart-menu[data-visible='true'] {
  transform: translateX(0%);
}

.cart-menu-toggle-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.cart-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, auto));

  gap: 1rem;

  margin-top: 1rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
  max-width: 100%;

  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  column-gap: 4rem;
  row-gap: 8rem;
  align-items: center;

  /* border: 1px solid white; */
}

.title {
  margin-bottom: 5rem;
}

.products-list {
  margin-top: 1rem;
}

.footer-container {
  margin-top: auto;
  padding-block: 1rem;
}
