@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(shared.css);

:root {
  --header-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  scroll-padding: calc(var(--header-height) * 2);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-font);
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style: none;
}

footer.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;

  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.6rem;
}

a:hover {
  cursor: pointer;
}

/* ------- Universal ------- */

.mobile-nav {
  display: none;
}

.hidden {
  display: none !important;
}

.wrapper {
  padding-inline: 2%;
  margin-inline: auto;
  max-width: 1920px;
}

.cart-menu {
  z-index: 910;
}

/* ----- Header ----- */

.header-container {
  z-index: 900;

  position: fixed;

  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);

  background-color: var(--color-bg-trans);
  backdrop-filter: blur(20px);
}

.header-container .container {
  width: 100%;
}

/* --- Navigation --- */

.nav-container {
  width: 100%;
}

.nav-container ul {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
}

/* -- Logo/Business Name -- */

.nav-site-logo {
  display: flex;
  align-items: ba;
  justify-content: center;

  margin-right: auto;

  cursor: pointer;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.4rem;
  padding-top: 0.2rem;
}

.nav-logo-icon {
  mask-image: url(/assets/logo.svg);
  -webkit-mask-image: url(/assets/logo.svg);

  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 100%;
  height: 100%;

  background-color: var(--color-font);
}

.nav-logo-text {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2ch;
}

.nav-buttons-container {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

/* -- Theme Toggle --*/
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.2rem;
  font-weight: 700;

  background: none;
  color: var(--color-font);
  border: none;

  cursor: pointer;

  transition: all 150ms ease-out;
}

.material-symbols-outlined.btn-themes-icon {
  font-size: 1.4rem;
  font-weight: 700;
}

/* ------ Main ------- */

.main-container {
  margin-bottom: 4rem;
  margin-top: auto;
}

/* ---- Hero ---- */

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100svh;
  width: 100%;
}

.hero-content {
  font-size: 2rem;
  max-width: 45ch;
}

.hero-content p {
  font-weight: 200;
  font-size: 1.4rem;
}

.hero-bg-container {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.hero-bg-image-container {
  width: 100%;
  height: 100%;
}

.hero-bg-overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--color-bg-trans);

  backdrop-filter: grayscale(100%);
}

img.hero-bg-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

video.hero-bg-video {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.hero-anchor-container {
  margin-top: 2rem;
}

a.hero-anchor {
  background-color: var(--color-font);
  color: var(--color-fg);
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  border-radius: 3pt;

  font-size: 1.6rem;
  font-weight: 600;

  text-decoration: none;

  cursor: pointer;
}

a.hero-anchor:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-font);
}

/* ----- Catalog ----- */

.catalog-container {
  display: flex;

  margin-top: 2rem;

  width: 100%;
}

.catalog-title {
  margin-top: 4rem;
  font-size: 2.6rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, auto));
  width: 100%;
  gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

/* ------ Footer ------- */

.footer-container {
  display: flex;

  margin-top: auto;
  padding-block: 1rem;
  height: 20rem;

  background-color: var(--color-fg);
}
