@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-bg-dark: rgb(28, 30, 32);
  --color-font-dark: rgb(228, 236, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-dark);
  color: var(--color-font-dark);
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style: none;
}

header,
main,
footer {
  padding-inline: 2%;
  margin-inline: auto;
  max-width: 1600px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 0.6rem;
}

a:hover {
  cursor: pointer;
}

.container {
  /* border: 1px solid white; */
}

.main-container {
  margin-block: auto;
}

.cart-and-catalog-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.catalog-container {
  background-color: rgba(49, 63, 87, 0.174);
  padding: 1rem;
  border-radius: 8pt;
  width: 80%;
}

.cart-container {
  background-color: rgba(60, 66, 90, 0.488);
  padding: 1rem;
  border-radius: 8pt;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
  max-width: 100%;

  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  column-gap: 4rem;
  row-gap: 8rem;
  align-items: center;

  /* border: 1px solid white; */
}

.title {
  margin-bottom: 5rem;
}

.products-list {
  margin-top: 1rem;
}

.footer-container {
  margin-top: auto;
  padding-block: 1rem;
}
