:root {
  --color-bg: #181a1b;
  --color-bg-trans: #181a1bc5;
  --color-fg: #26292b;
  --color-font: #d6d7cc;
  --color-font-secondary: #90979c;
  --color-accent: #377df6;
  --color-disabled: #87909f;
}

:root:has(#light:checked) {
  --color-bg: #d4d7d9;
  --color-bg-trans: #e4e6e7be;
  --color-fg: #e4e6e7;
  --color-font: #283133;
  --color-font-secondary: #626a6f;
  --color-accent: #094fc8;
  --color-disabled: #3c485d;
}
