:root {
  --color-bg: #1c1f25;
  --color-bg-trans: #181a1bc5;
  --color-fg: #2f3237;
  --color-font: #e9eef1;
  --color-font-secondary: #90979c;
  --color-accent: #1863c5;
  --color-disabled: #646874;
  --color-radio: #47be9c;
}

:root:has(#btn-theme-menu-toggle[data-theme='light']) {
  --color-bg: #d4d7d9;
  --color-bg-trans: #e4e6e7be;
  --color-fg: #e4e6e7;
  --color-font: #283133;
  --color-font-secondary: #626a6f;
  --color-accent: #558afa;
  --color-disabled: #9a9ea5;
}
