@import url(themes.css);

.theme-menu-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-theme-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  padding: 0.2rem;

  /* width: var(--btn-themes-width); */

  font-weight: 700;

  /* background-color: var(--color-font); */
  background: none;
  color: var(--color-font);

  transition: all 150ms ease-out;

  cursor: pointer;
}

.material-symbols-outlined.btn-themes-icon {
  font-size: 1.4rem;
  font-weight: 700;
}

.theme-menu-container:has(.theme-menu[data-visible='false']) {
  .btn-themes {
    border-radius: 3pt;
  }
}

/* .theme-form-container {
  position: absolute;
  overflow: hidden;
  top: 2rem;
} */

.theme-picker > fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  background: var(--color-font);
  width: var(--btn-themes-width);
  padding: 0.8rem 1.2rem;
  border-radius: 0 0 3pt 3pt;
}

.theme-picker input[type='radio'] {
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.theme-picker input[type='radio']:checked {
  background-color: var(--radio-color);
}

input[type='radio']#light {
  --radio-color: rgb(223, 232, 238);
}

input[type='radio']#dark {
  --radio-color: rgb(23, 28, 32);
}
