@font-face {
  font-family: 'Poppins';
  src: local('Poppins Black'),
    url('/assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins BlackItalic'),
    url('/assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBold'),
    url('/assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBoldItalic'),
    url('/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold'),
    url('/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins BoldIlatic'),
    url('/assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBold'),
    url('/assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins SemiBoldItalic'),
    url('/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Medium'),
    url('/assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins MediumItalic'),
    url('/assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'),
    url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'),
    url('/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Light'),
    url('/assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins LightItalic'),
    url('/assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLight'),
    url('/assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraLightItalic'),
    url('/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Thin'),
    url('/assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ThinItalic'),
    url('/assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  color-scheme: light dark;
  --menu-transition-speed: 150ms;
  --font-body: 'Poppins', sans-serif;
  --font-title: 'Comfortaa', sans-serif;
  --store-logo-size: 2rem;
  --icon-size: 1.4rem;
  --header-height: 4rem;
  --scrollbar-width: 0.4rem;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --color-bg: #0c1821;
  --color-bg-trans: #0c1821d8;
  --color-fg: #1e2836;
  --color-fg-alt: #667183;
  --color-font: #eaefff;
  --color-font-secondary: #ccd5d7;
  --color-accent: #5978f5;
  --color-warning: #eb2560;
  --color-aux: #5582ff;
  --color-aux-bg: #2e4264;
  --color-disabled: #90979c;
  --color-radio: #47be9c;
  --color-shadow: #03070f73;
}

:root[data-theme='light'] {
  color-scheme: light;

  --color-bg: #e8eef1;
  --color-bg-trans: #e5f3ffbe;
  --color-fg: #fafcfd;
  --color-fg-alt: #b6c1d1;
  --color-font: #282e33;
  --color-font-secondary: #626a6f;
  --color-accent: #607ffa;
  --color-warning: #f0405d;
  --color-aux: #ffb01f;
  --color-aux-bg: rgb(236, 233, 218);
  --color-disabled: #9a9ea5;
  --color-radio: #1daf86;
  --color-shadow: #2a394228;
}
