.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-block: 1rem;
}

@media (max-width: 728px) {
  .btn-group {
    flex-direction: column;
  }

  a.btn,
  button.btn,
  ::part(btn) {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--color-surface-700);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-on-surface);
}

.lock-width-chromium {
  padding-right: var(--scrollbar-width);
}

.lock-width-firefox {
  scrollbar-gutter: stable both-edges;
}

a.btn,
button.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--rounded-button);

  padding-inline: 1rem;
  padding-block: 0.6rem;

  font-size: 1.2rem;
  font-weight: 700;

  border: none;

  transition: color 100ms ease-out, background-color 100ms ease-out;
}

a > .btn-content,
button > .btn-content {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline: 0.4rem;
}

/**** Primary ****/

a.btn-primary,
button.btn-primary {
  background-color: var(--color-primary-500);
  color: var(--color-on-primary);
}

a.btn-primary:hover,
button.btn-primary:hover {
  cursor: pointer;
  background-color: var(--color-primary-400);
}

button.btn-primary:active,
a.btn-primary:active {
  background-color: var(--color-primary-600);
}

/**** Secondary *****/

a.btn-secondary,
button.btn-secondary {
  background-color: var(--color-secondary-500);
  color: var(--color-on-secondary);
}

a.btn-secondary:hover,
button.btn-secondary:hover {
  cursor: pointer;
  background-color: var(--color-secondary-400);
}

button.btn-secondary:active,
a.btn-secondary:active {
  background-color: var(--color-secondary-600);
}

/**** Tertiary *****/

a.btn-tertiary,
button.btn-tertiary {
  background-color: var(--color-tertiary-500);
  color: var(--color-on-tertiary);
}

a.btn-tertiary:hover,
button.btn-tertiary:hover {
  cursor: pointer;
  background-color: var(--color-tertiary-400);
}

button.btn-tertiary:active,
a.btn-tertiary:active {
  background-color: var(--color-tertiary-600);
}

:root[data-theme='light'] .bg-gradient {
  background: hsla(226, 100%, 95%, 1);

  background: linear-gradient(
    90deg,
    hsla(226, 100%, 95%, 1) 0%,
    hsla(237, 100%, 96%, 1) 50%,
    hsla(226, 100%, 88%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(226, 100%, 95%, 1) 0%,
    hsla(237, 100%, 96%, 1) 50%,
    hsla(226, 100%, 88%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(226, 100%, 95%, 1) 0%,
    hsla(237, 100%, 96%, 1) 50%,
    hsla(226, 100%, 88%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6ECFF", endColorstr="#EDEEFF", GradientType=1 );
}

:root[data-theme='dark'] .bg-gradient {
  background: hsla(206, 47%, 9%, 1);

  background: linear-gradient(
    90deg,
    hsla(206, 47%, 9%, 1) 0%,
    hsla(216, 39%, 16%, 1) 50%,
    hsla(218, 39%, 21%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(206, 47%, 9%, 1) 0%,
    hsla(216, 39%, 16%, 1) 50%,
    hsla(218, 39%, 21%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(206, 47%, 9%, 1) 0%,
    hsla(216, 39%, 16%, 1) 50%,
    hsla(218, 39%, 21%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0C1821", endColorstr="#192639", GradientType=1 );
}
