.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-block: 1rem;
}

a.btn,
button.btn,
::part(btn) {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--theme-rounded-base);
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;

  border: none;

  transition: color 100ms ease-out, background-color 100ms ease-out;
}

/**** Primary ****/

a.btn-primary > box-icon,
button.btn-primary > box-icon,
::part(btn-primary-icon) {
  fill: red;
}

a.btn-primary,
button.btn-primary,
::part(btn-primary) {
  background-color: var(--color-primary-500);
  color: var(--color-on-primary);
}

a.btn-primary:hover,
button.btn-primary:hover,
::part(btn-primary):hover {
  cursor: pointer;
  background-color: var(--color-primary-400);
}

button.btn-primary:active,
a.btn-primary:active,
::part(btn-primary):active {
  background-color: var(--color-primary-600);
}

/**** Secondary *****/

a.btn-secondary > box-icon,
button.btn-secondary > box-icon,
::part(btn-secondary-icon) {
  fill: navy;
}

a.btn-secondary,
button.btn-secondary,
::part(btn-secondary) {
  background-color: var(--color-secondary-500);
  color: var(--color-on-secondary);
}

a.btn-secondary:hover,
button.btn-secondary:hover,
::part(btn-secondary):hover {
  cursor: pointer;
  background-color: var(--color-secondary-400);
}

button.btn-secondary:active,
a.btn-secondary:active,
::part(btn-secondary):active {
  background-color: var(--color-secondary-600);
}

/**** Tertiary *****/

a.btn-tertiary > box-icon,
button.btn-tertiary > box-icon,
::part(btn-tertiary-icon) {
  fill: yellow;
}

a.btn-tertiary,
button.btn-tertiary,
::part(btn-tertiary) {
  background-color: var(--color-tertiary-500);
  color: var(--color-on-tertiary);
}

a.btn-tertiary:hover,
button.btn-tertiary:hover,
::part(btn-tertiary):hover {
  cursor: pointer;
  background-color: var(--color-tertiary-400);
}

button.btn-tertiary:active,
a.btn-tertiary:active,
::part(btn-tertiary):active {
  background-color: var(--color-tertiary-600);
}
