:root {
  --radius-sharp: 4px;
  --radius-round: 12px;
  --radius-pill: 9999px;

  --radius-base: var(--radius-sharp);
  --radius-container: var(--radius-sharp);
  --radius-badge: var(var(--radius-pill));
  --radius-chip: var(var(--radius-sharp));
}
