:root {
  --radius-sharp: 4px;
  --radius-round: 12px;
  --radius-pill: 9999px;

  --radius-base: var(--radius-sharp);
  --radius-container: var(--radius-sharp);
  --radius-badge: var(var(--radius-pill));
  --radius-chip: var(var(--radius-sharp));
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-50: #fff6e1;
    --primary-100: #fff2d7;
    --primary-200: #ffefce;
    --primary-300: #ffe6b0;
    --primary-400: #fed374;
    --primary-500: #fec039;
    --primary-600: #e5ad33;
    --primary-700: #bf902b;
    --primary-800: #987322;
    --primary-900: #7c5e1c;

    --secondary-50: #f8eaff;
    --secondary-100: #f5e3ff;
    --secondary-200: #f3dcff;
    --secondary-300: #ebc6ff;
    --secondary-400: #dc9cfe;
    --secondary-500: #cd71fe;
    --secondary-600: #b966e5;
    --secondary-700: #9a55bf;
    --secondary-800: #7b4498;
    --secondary-900: #64377c;

    --tertiary-50: #e7efff;
    --tertiary-100: #dee9ff;
    --tertiary-200: #d6e4ff;
    --tertiary-300: #bed3ff;
    --tertiary-400: #8db3ff;
    --tertiary-500: #5c92ff;
    --tertiary-600: #5383e6;
    --tertiary-700: #456ebf;
    --tertiary-800: #375899;
    --tertiary-900: #2d487d;

    --success-50: #eaf8e9;
    --success-100: #e3f6e1;
    --success-200: #dcf4da;
    --success-300: #c6edc3;
    --success-400: #9ce097;
    --success-500: #71d26a;
    --success-600: #66bd5f;
    --success-700: #559e50;
    --success-800: #447e40;
    --success-900: #376734;

    --warning-50: #ffefe3;
    --warning-100: #ffe9da;
    --warning-200: #ffe4d1;
    --warning-300: #ffd3b5;
    --warning-400: #ffb27e;
    --warning-500: #ff9147;
    --warning-600: #e68340;
    --warning-700: #bf6d35;
    --warning-800: #99572b;
    --warning-900: #7d4723;

    --error-50: #ffe3e6;
    --error-100: #ffd9de;
    --error-200: #ffd0d5;
    --error-300: #ffb3bc;
    --error-400: #ff7b8a;
    --error-500: #ff4258;
    --error-600: #e63b4f;
    --error-700: #bf3242;
    --error-800: #992835;
    --error-900: #7d202b;

    --surface-50: #dedee4;
    --surface-100: #d3d3db;
    --surface-200: #c8c8d2;
    --surface-300: #a7a7b6;
    --surface-400: #646680;
    --surface-500: #222449;
    --surface-600: #1f2042;
    --surface-700: #1a1b37;
    --surface-800: #14162c;
    --surface-900: #111224;

    --on-primary: #fff;
    --on-secondary: #fff;
    --on-tertiary: #fff;
    --on-success: #fff;
    --on-warning: #fff;
    --on-error: #fff;
    --on-surface: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-50: #fff6e1;
    --primary-100: #fff2d7;
    --primary-200: #ffefce;
    --primary-300: #ffe6b0;
    --primary-400: #fed374;
    --primary-500: #fec039;
    --primary-600: #e5ad33;
    --primary-700: #bf902b;
    --primary-800: #987322;
    --primary-900: #7c5e1c;

    --secondary-50: #f8eaff;
    --secondary-100: #f5e3ff;
    --secondary-200: #f3dcff;
    --secondary-300: #ebc6ff;
    --secondary-400: #dc9cfe;
    --secondary-500: #cd71fe;
    --secondary-600: #b966e5;
    --secondary-700: #9a55bf;
    --secondary-800: #7b4498;
    --secondary-900: #64377c;

    --tertiary-50: #e7efff;
    --tertiary-100: #dee9ff;
    --tertiary-200: #d6e4ff;
    --tertiary-300: #bed3ff;
    --tertiary-400: #8db3ff;
    --tertiary-500: #5c92ff;
    --tertiary-600: #5383e6;
    --tertiary-700: #456ebf;
    --tertiary-800: #375899;
    --tertiary-900: #2d487d;

    --success-50: #eaf8e9;
    --success-100: #e3f6e1;
    --success-200: #dcf4da;
    --success-300: #c6edc3;
    --success-400: #9ce097;
    --success-500: #71d26a;
    --success-600: #66bd5f;
    --success-700: #559e50;
    --success-800: #447e40;
    --success-900: #376734;

    --warning-50: #ffefe3;
    --warning-100: #ffe9da;
    --warning-200: #ffe4d1;
    --warning-300: #ffd3b5;
    --warning-400: #ffb27e;
    --warning-500: #ff9147;
    --warning-600: #e68340;
    --warning-700: #bf6d35;
    --warning-800: #99572b;
    --warning-900: #7d4723;

    --error-50: #ffe3e6;
    --error-100: #ffd9de;
    --error-200: #ffd0d5;
    --error-300: #ffb3bc;
    --error-400: #ff7b8a;
    --error-500: #ff4258;
    --error-600: #e63b4f;
    --error-700: #bf3242;
    --error-800: #992835;
    --error-900: #7d202b;

    --surface-50: #dedee4;
    --surface-100: #d3d3db;
    --surface-200: #c8c8d2;
    --surface-300: #a7a7b6;
    --surface-400: #646680;
    --surface-500: #222449;
    --surface-600: #1f2042;
    --surface-700: #1a1b37;
    --surface-800: #14162c;
    --surface-900: #111224;

    --on-primary: #000;
    --on-secondary: #fff;
    --on-tertiary: #fff;
    --on-success: #fff;
    --on-warning: #fff;
    --on-error: #fff;
    --on-surface: #000000;
  }
}
